/*
 * Modulus Video
 *
 * Development Web Server
 */
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  color: #043D2E;
  font-family: helvetica, verdana, arial, sans-serif;
  margin: 0;
  padding: 0;
}
.printonly {
  display: none;
}
.screenonly {
  display: inline;
}
a:link {
  color: #088261;
}
a:visited {
  color: #088261;
}
a:link:hover, a:visited:hover {
}
a img {
  border: 0;
}
a.button img, img.button {
  border: 1px dotted #999682;
}
a.button:link:hover img, a.button:visited:hover img {
  border: 1px solid #555240;
}
h1, h2, h3, h4, h5 {
  color: #043D2E;
  margin: 1.0em 0 0.5em 0;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.2em;
}
h4, h5 {
  font-size: 1.0em;
}
li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
hr {
  margin: 0 2.0em;
}
pre {
  margin: 0;
  padding: 0;
  margin-top: -1.5em;
}

/* --------------------------------- */

.degrade {
  display: none;
}
.note, .warn {
  color: #513F22;
  font-size: 90%;
  font-style: italic;
}
.warn {
  color: #953F22;
}
.minierror, .mininote {
  line-height: 1em;
  font-size: 75%;
  color: #999682;
}
.mininote {
  color: #513F22;
}
.left, .left150, .left200 {
  clear: left;
  float: left;
  margin-right: 2.0em;
}
.right, .right150, .right200 {
  clear: right;
  float: right;
  margin-left: 1.0em;
}
.left150, .right150 {
  width: 150px;
}
.left200, .right200 {
  width: 200px;
}
.bottomrule {
  border-bottom: 1px solid #513F22;
  padding-bottom: 1.3em;
}
.toprule {
  border-top: 1px solid #513F22;
  padding-top: 1.3em;
}
.readonly {
  background-color: #e5e5e5;
}
textarea.readonly {
  color: #043D2E;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 100%;
  border-width: 1px;
}


/* --------------------------------- */

ul.icondefs {
  font-size: 85%;
  list-style-type: none;
  padding: 0;
  margin-left: 1em;
}
ul.icondefs li {
  margin: 0;
}
ul.icondefs li img {
  vertical-align: middle;
  margin-top: 1px;
  width: 18px;
  height: 18px;
}

/* --------------------------------- */

div.navleads {
  font-size: 85%;
  padding-top: 1em;
  margin-top: 2em;
  border-top: 1px dotted #999682;
  padding-bottom: 0;
}
div.navleads p {
  margin-top: 0;
  margin-bottom: 0.25em;
}

/* --------------------------------- */

.version {
}
.date, .release, .mod {
}
.descrip {
  line-height: 1.2em;
  font-size: 90%;
}
.more {
}
.actions {
  width: 70px;
}
.downloads {
}
.changes {
}
ul.bugfields em, span.bugfields {
  font-style: normal;
  color: #953F22;
}

/* --------------------------------- */

/*
 * Boxes with rounded corners, inspired by an example by Ryan Thrash
 * at http://www.vertexwerks.com/tests/sidebox/
 */

/* Show only to IE PC \*/
* html .boxtop h2 {height: 1%;} /* For IE 5 PC */

.boxouter {
  background: url(/images/box/sbbody-r.gif) no-repeat bottom right;
}
.boxtop {
	background: url(/images/box/sbhead-r.gif) no-repeat top right;
	margin: 0;
	padding: 0;
	text-align: center;
}
.boxtop h2 {
	background: url(/images/box/sbhead-l.gif) no-repeat top left;
	margin: 0;
	padding: 22px 30px 5px;
	color: white; 
	font-weight: bold; 
	font-size: 1.2em; 
	line-height: 1em;
}
.boxbody {
	background: url(/images/box/sbbody-l.gif) no-repeat bottom left;
	margin: 0;
	padding: 5px 30px 31px;
}

/* --------------------------------- */

table.status {
  font-family: helvetica;
  font-size: 90%;
  margin: 0;
  border-bottom: 1px solid #513F22;
}
table.params table.status {
  font-size: 100%;
}
table.status td, table.status th {
  padding: 0.2em 1em 0 0;
  text-align: left;
  vertical-align: top;
}
table.status td {
  padding-top: 0.3em;
  padding-bottom: 0.4em;
}
table.status td.first, table.status th.first {
  padding-left: 0.5em;
}
table.status td.edge, table.status th.edge {
  padding-right: 0.5em;
}
table.status th {
  color: #513F22;
  padding-top: 0.5em;
  text-align: left;
  border-bottom: 1px solid #513F22;
}
table.status td.num, table.status th.num {
  text-align: right;
}
table.status tr.odd td {
}
table.status tr.even td {
  background-color: #CFCFCF;
}
table.status table.status {
  /* do not shrink the text any further when one table inside another */
  font-size: 100%;
}
table.status th.tablerule {
  border-bottom: 1px dotted #513F22;
}
table.tablecenter {
  margin-left: auto;
  margin-right: auto;
}

/* --------------------------------- */

table.params {
  border: none;
  font-family: helvetica;
  font-size: 90%;
  width: 100%;
}
table.params td, table.params th {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  vertical-align: top;
  width: 45%;
}
table.params th {
  color: #513F22;
  text-align: left;
}
table.params td input {
  border-width: 1px;
  color: #301D00;
}
table.params tr.odd td, table.params tr.odd th {
}
table.params tr.even td, table.params tr.even th {
  background-color: #CFCFCF;
}
table.params td.submit {
  padding-top: 1em;
  text-align: center;
}
table.params td.fieldcheck {
  width: 12px;
  vertical-align: middle;
}
table.params td.fieldkey {
  width: auto;
  vertical-align: middle;
}
table.params td.fieldvalue {
  line-height: 1em;
  font-size: 85%;
  width: auto;
  vertical-align: middle;
  padding-left: 2em;
}
table.params td.rowkey {
  width: 30%;
  vertical-align: top;
}
table.params td.rowvalue {
  width: 70%;
  vertical-align: top;
  padding-left: 2em;
}
td.submit input {
  color: #301D00;
  padding: 0.15em;
  padding-bottom: 0.25em;  /* for Mozilla, this may not look good in IE */
  margin: 0 0.3em 0 0.3em;
}
table.subparams {
  border: none;
  margin: 0;
  margin-left: 0.5em;
  margin-top: 0.25em;
  padding: 0;
}
table.subparams td {
  margin: 0;
  padding: 0;
  padding-bottom: 0.4em;
}

/* --------------------------------- */

div#content {
  margin: 0.75em 0 0 0;
  padding: 0;
  position: absolute;
  left: 30%;
  top: auto;
  width: 68%;
}
div#contentbox {
  background: url(/images/box/sbbody-r.gif) no-repeat bottom right;
  line-height: 1.3em;
  width: 100%;
}
div#contentbox .boxtop {
  background: url(/images/box/sbhead-r.gif) no-repeat top right;
}
div#contentbox .boxtop h2 {
  background: url(/images/box/sbhead-l.gif) no-repeat top left;
}
div#contentbox .boxbody {
  background: url(/images/box/sbbody-l.gif) no-repeat bottom left;
}

/* --------------------------------- */

div#leftside {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0.75em;
  left: 2%;
  width: 25%;
}
div#logo {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30em;
  left: 2%;
  width: 25%;
  text-align: center;
}
div#menubox, div.submenubox {
  font-size: 85%;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}
div#menubox h4, div.submenubox h4 {
  margin: 0.5em 0 0.5em 0;
  padding: 0;
}
div#menubox a, div.submenubox a {
  background: url("/images/menu_item.gif") top left no-repeat;
  display: block;
  margin: 0.4em 0;
  padding-left: 18px;
  padding-right: 6px;
  text-decoration: none; 
}
div#menubox a.current, div.submenubox a.current {
  background: url("/images/current_menu_item.gif") top left no-repeat;
  color: #B37318;
}
div#menubox a:hover, div.submenubox a:hover {
  background: url("/images/current_menu_item.gif") top left no-repeat;
}
div.submenubox {
  border-left: 1px dotted #999682;
  border-bottom: 1px dotted #999682;
  padding-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  float: right;
}

.indented {
  /* for input fields that must be indented below a preceeding radio box */
  margin: 0.5em 0 1.2em 3.5em;
}
.emptyindent {
  /* for spacing below radio boxes that don't have a following input field */
  margin-bottom: 1.2em;
}
.boxindented {
  /* for floating a selection box on the left under a paragraph */
  float: left;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/* --------------------------------- */

div#footer {
  color: #999682;
  font-size: 75%;
  line-height: 1.33em;
  margin: 5px 5px 5px 5px;
  text-align: center;
}
div#footer a:link, div#footer a:visited,
span.lowlight, .lowlight a:link, .lowlight a:visited {
  color: #999682;
  text-decoration: none;
  border-bottom: 1px dotted #999682;
}
div#footer a:link:hover, div#footer a:visited:hover,
.lowlight a:link:hover, .lowlight a:visited:hover {
  color: #555240;
  border-bottom: 1px dotted #555240;
}
