/*
 * Modulus Video
 *
 * Development Web Server - version of css for printing, eliminates the
 * things in the page that aren't needed or don't look good in a printout
 */
@media print {

body {
  background-color: #FFFFFF;
}
.printonly {
  display: inline;
}
.screenonly {
  display: none;
}
div.navleads {
  display: none;
}
div#logo {
  display: none;
}
div#menubox, div.submenubox {
  display: none;
}
div#content {
  margin-top: -1em;
  position: relative;
  left: auto;
  width: auto;
}
div#footer {
  margin-top: -2em;
}

}  /* @media print */
